<h1>Add New User</h1>

<%= form_with model: @user do |user|%>
    <%= user.label :name %>
    <%= user.text_field :name %><br/>

    <%= user.label :email %>
    <%= user.text_field :email %><br/><br/> 

    <%= user.submit value:"Submit" %>
<% end %>