<h1>Add New User</h1>

<%= form_with model: @user do |form|%>
    <%= form.label :name %>
    <%= form.text_field :name %><br/>

    <%= form.label :email %>
    <%= form.text_field :email %><br/><br/> 

    <%= form.submit value:"Submit" %>
<% end %>